<div class="modal-header" align="center">
    <h1>Holly WORLD</h1>
</div>

<div class="modal-body width">
    <div class="group-control">

        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <button ng-click="myClick()" class="form-control">show</button>
            </div>
        </div>
        <hr>


        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Poster</th>
            </tr>
            </thead>

            <tr ng-repeat="s in movies2">
                <td><a href="#/movies/{{s.id}}">{{s.id}}</a>
                </td>
                <td>{{s.title}}
                </td>
                <td>{{s.poster}}
            </tr>
        </table>


    </div>
</div>


